.app-container {
    padding: 0% 10%;
}

.app {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-col {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-col {
    grid-column-start: 2;
    grid-column-end: 3;
}